@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom fonts for this template-->
    <link href="~/admin-temp/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/admin-temp/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/admin-temp/css/sb-admin.css" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        @* Place Kendo UI scripts after jQuery *@
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        @* Place Kendo UI scripts after jQuery *@
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
</head>
<body>
    <div id="wrapper">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Sidebar -->
        <div class="row" style="height: 57px; top: 0; left: 0; position: fixed; height: 100%; z-index: 1;">
            <div id="sidenav" class="sidebar navbar-nav row" style="width: 235px; display: none; z-index: 1;" onmouseleave="closeNav()">
                <a style="margin-top: 18px!important; margin-bottom: 18px!important;" asp-controller="Home" asp-action="Index">
                    <img src="~/Icons/logo.png" style="margin-left: 24px" />
                </a><br>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <a class="nav-link anchor-style" href="~/Grid/Editing_Inline">
                        <img id="img_epic" src="~/Icons/epic base line.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_epic" style="font-size: 16px">Epic Base Line</span>
                    </a><br>
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline">
                        <img id="img_measurement" src="~/Icons/measurement.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_measurement" style="font-size: 16px">Measurement</span>
                    </a><br>
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline_Details">
                        <img id="img_report" src="~/Icons/measurement report.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_report" style="font-size: 16px">Measurement Report</span>
                    </a><br>
                    <a class="nav-link anchor-style" href="~/Module/Editing_Inline">
                        <img id="img_module" src="~/Icons/modules.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_module" style="font-size: 16px">Modules</span>
                    </a><br>
                    <a class="nav-link anchor-style" href="~/Team/Editing_Inline">
                        <img id="img_team" src="~/Icons/teams.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_team" style="font-size: 16px">Teams</span>
                    </a><br>
                    <a class="nav-link anchor-style" href="~/Employee/Editing_Inline">
                        <img id="img_employee" src="~/Icons/employees.svg" width="24" height="24" class="svg-bottom-margin" />
                        <span id="span_employee" style="font-size: 16px">Employees</span>
                    </a><br>
                }
                <div style="position: absolute; bottom: 0;">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                        {
                            <a class="nav-link anchor-style" href="~/LineChartPanel/index">
                                <img src="~/Icons/chart.svg" width="24" height="24" class="svg-bottom-margin" />
                                <span style="font-size: 16px">Chart Panel</span>
                            </a><br>
                            <a class="nav-link anchor-style" href="~/Profile/Index">
                                <img id="img_profile" src="~/Icons/profile.svg" width="24" height="24" class="svg-bottom-margin" />
                                <span id="span_profile" style="font-size: 16px">Profile</span>
                            </a><br>
                            <a class="nav-link anchor-style" asp-area="Identity" asp-page="/Account/Register">
                                <img src="~/Icons/register.svg" width="24" height="24" class="svg-bottom-margin" />
                                <span class="btn-span">Create a New User</span>
                            </a><br>
                        }
                        else
                        {
                            <a class="nav-link anchor-style" href="~/Profile/Index">
                                <img id="img_profile" src="~/Icons/profile.svg" width="24" height="24" class="svg-bottom-margin" />
                                <span id="span_profile" style="font-size: 16px">Profile</span>
                            </a><br>
                        }
                        <div style="margin-left: 4px;">
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link">
                                    <img src="~/Icons/logout.svg" width="24" height="24" class="svg-bottom-margin" />
                                    <span class="btn-span">Logout</span>
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
            @*<div id="sidenav_mini" class="sidebar navbar-nav row" style="width: 48px!important; z-index: 1;" onmouseover="openNav()">
            <a class="nav-link anchor-style" href="~/Grid/Editing_Inline" style="margin-top: 22px; margin-bottom: 6px;">
                <img id="img_home" src="~/Icons/home.svg" width="24" height="24" class="svg-bottom-margin"/>
            </a><br>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <a class="nav-link anchor-style" href="~/Grid/Editing_Inline">
                    <img id="img_epic" src="~/Icons/epic base line.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
                <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline">
                    <img id="img_measurement" src="~/Icons/measurement.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
                <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline_Details">
                    <img id="img_report" src="~/Icons/measurement report.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
                <a class="nav-link anchor-style" href="~/Module/Editing_Inline">
                    <img id="img_module" src="~/Icons/modules.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
                <a class="nav-link anchor-style" href="~/Team/Editing_Inline">
                    <img id="img_team" src="~/Icons/teams.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
                <a class="nav-link anchor-style" href="~/Employee/Editing_Inline">
                    <img id="img_employee" src="~/Icons/employees.svg" width="24" height="24" class="svg-bottom-margin" />
                </a><br>
            }
                    <div style="position: absolute; bottom: 0;">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                            {
                                <a class="nav-link anchor-style" href="~/LineChartPanel/index">
                                    <img src="~/Icons/chart.svg" width="24" height="24" class="svg-bottom-margin" />
                                </a><br>
                                <a class="nav-link anchor-style" href="~/Profile/Index">
                                    <img id="img_profile" src="~/Icons/profile.svg" width="24" height="24" class="svg-bottom-margin" />
                                </a><br>
                                <a class="nav-link anchor-style" asp-area="Identity" asp-page="/Account/Register">
                                    <img src="~/Icons/register.svg" width="24" height="24" class="svg-bottom-margin" />
                                </a><br>
                            }
                            else
                            {
                                <a class="nav-link anchor-style" href="~/Profile/Index">
                                    <img id="img_profile" src="~/Icons/profile.svg" width="24" height="24" class="svg-bottom-margin" />
                                </a><br>
                            }
                            <div style="margin-left: 4px;">
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                    <button type="submit" class="btn btn-link">
                                        <img src="~/Icons/logout.svg" width="24" height="24" class="svg-bottom-margin" />
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
        </div>*@
            <div style="width: 57px; height: 57px; z-index: 1;">
                <a id="toggle-button" class="k-button" style="width: 57px; height: 57px; background-color: #212529; margin-left: 15px; border-radius: 0; border: hidden;" onmouseover="openNav()">
                    <img id="img_menu" src="~/Icons/menu.svg" width="48" height="48" />
                </a><br>
            </div><br>
        </div>
            }
        <div id="content-wrapper" style="margin-left: 0">
            <div id="body-id" class="bodyMargin">@RenderBody()</div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    function openNav() {
        document.getElementById("sidenav").style.display = "";
        //document.getElementById("sidenav_mini").style.display = "none";
        document.getElementById("toggle-button").style.marginLeft = "173px";
        document.getElementById("toggle-button").style.display = "none";
    }
    function closeNav() {
        document.getElementById("sidenav").style.display = "none";
        //document.getElementById("sidenav_mini").style.display = "";
        document.getElementById("toggle-button").style.marginLeft = "15px";
        document.getElementById("toggle-button").style.display = "";
    }
</script>


@if (SignInManager.IsSignedIn(User))
{
    <style>
        .bodyMargin {
            /*margin-left: 200px;*/
            /*margin-left: 36px;*/
            margin-right: 5px;
        }
        .svg-bottom-margin {
            margin-bottom: 4px;
        }
        .btn-span {
            color: rgba(255, 255, 255, 0.5);
            font-size: 16px;
        }
        .anchor-style {
            color: rgba(255, 255, 255, 0.5);
            font-size: 16px;
            /*margin: 6px!important;*/
            margin-left: 16px!important;
        }
        .header {
            padding: 10px 16px;
            background: #555;
            color: #f1f1f1;
        }
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
    </style>
}