@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom fonts for this template-->
    <link href="~/admin-temp/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/admin-temp/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/admin-temp/css/sb-admin.css" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.nova.min.css" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        @* Place Kendo UI scripts after jQuery *@
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        @* Place Kendo UI scripts after jQuery *@
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
</head>
<body>
    <div id="wrapper">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Sidebar -->
        <div class="row" style="height: 57px; top: 0; left: 0; position: fixed; height: 100%; z-index: 1;">
            <div id="sidenav" class="sidebar navbar-nav row side-width" style=" display: none; z-index: 1;" onmouseleave="closeNav()">
                @if (Context.User.Identity.IsAuthenticated)
                {
                <div class="nav-link" style="margin-left: 32px; margin-top: 16px;">
                    <span id="span_ethix" style="font-size: 21px; font-weight: bold; color: white;">ETHIX-NG</span>
                    @*<a href="#" onclick="pinSidebar()"><svg class="fa fa-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#ffffff80"><path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" /></svg></a>*@
                </div><br />
                    <a class="nav-link anchor-style" href="~/Home/Index">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z" /></svg>
                        <span id="span_dashboard" style="font-size: 16px">Dashboard</span>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Grid/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_epic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M3,5h7V3h2v18h-2v-3H6v-3h4v-2H5v-3h5V8H3V6 M14,5h3v3h-3V5 M14,10h5v3h-5V10 M14,15h7v3h-7V15z" /></svg>
                        <span id="span_epic" style="font-size: 16px">Epic Base Line</span>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_measurement" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M11.2,11.2c-0.4,0.5-0.4,1.2,0,1.6c0.5,0.5,1.2,0.5,1.6,0c0.4-0.5,0.4-1.2,0-1.6C12.4,10.7,11.6,10.7,11.2,11.2z M12,3 c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3z M16.6,8.4l-2.4,5.2c-0.1,0.3-0.3,0.5-0.6,0.6l-5.2,2.4c-0.6,0.3-1.2-0.3-1-1l2.4-5.2 c0.1-0.3,0.3-0.5,0.6-0.6l5.2-2.4C16.2,7.1,16.9,7.8,16.6,8.4z" /></svg>
                        <span id="span_measurement" style="font-size: 16px">Measurement</span>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline_Details">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_m_report" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M10.9,12.6l6,6c-0.8,0.8-1.7,1.4-2.7,1.8s-2.1,0.7-3.3,0.7c-1.5,0-2.9-0.4-4.2-1.1s-2.3-1.8-3.1-3.1s-1.1-2.7-1.1-4.2 s0.4-2.9,1.1-4.2s1.8-2.3,3.1-3.1s2.7-1.1,4.2-1.1V12.6z M13,12.7h8.5c0,1.1-0.2,2.2-0.7,3.3c-0.4,1-1.1,1.9-1.8,2.7L13,12.7z M20.8,11.3h-8.4V2.8c1.5,0,2.9,0.4,4.2,1.1s2.3,1.8,3.1,3.1C20.4,8.3,20.8,9.8,20.8,11.3z" /></svg>
                        <span id="span_report" style="font-size: 16px">Measurement Report</span>
                    </a><br />
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                    {
                        <a class="nav-link anchor-style" onclick="financeSubMenu()" href="#">
                            <?xml version="1.0" encoding="utf-8" ?>
                            <svg class="svg-bottom-margin" viewBox="0 0 511 511.99978" fill="#ffffff80" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="m235.792969 347.265625c3.902343-3.910156 3.902343-10.238281 0-14.148437-3.90625-3.898438-10.234375-3.898438-14.144531 0-3.898438 3.910156-3.898438 10.238281 0 14.148437 3.910156 3.898437 10.238281 3.898437 14.144531 0zm0 0" /><path d="m188.449219 109.96875c0 60.636719 49.332031 109.972656 109.96875 109.972656s109.96875-49.335937 109.96875-109.972656-49.332031-109.96875-109.96875-109.96875-109.96875 49.332031-109.96875 109.96875zm199.945312 0c0 49.613281-40.363281 89.976562-89.976562 89.976562s-89.976563-40.363281-89.976563-89.976562c0-49.609375 40.363282-89.972656 89.976563-89.972656s89.976562 40.363281 89.976562 89.972656zm0 0" /><path d="m115.652344 509.042969c3.875 3.90625 10.183594 3.949219 14.109375.082031l48.46875-47.75c8.234375-8.234375 10.738281-20.425781 7.117187-31.023438l10.425782-10.054687c5.613281-5.421875 13.003906-8.410156 20.816406-8.410156h132.902344c23.578124 0 45.863281-9.054688 62.757812-25.496094.695312-.675781-5.277344 6.359375 90.667969-108.3125 14.230469-16.835937 12.101562-42.117187-4.75-56.363281-16.746094-14.113282-41.832031-12.085938-56.101563 4.460937l-58.992187 60.632813c-7.449219-9.167969-18.808594-14.882813-31.082031-14.882813h-111.480469c-15.863281-6.636719-32.695313-9.996093-50.0625-9.996093-48.140625 0-90.175781 22.234374-112.734375 63.921874-9.503906-1.800781-19.527344 1.074219-26.738282 8.285157l-47.558593 47.699219c-3.882813 3.894531-3.890625 10.195312-.015625 14.101562zm74.792968-227.121094c15.3125 0 30.117188 3.082031 44.011719 9.160156 1.265625.554688 2.628907.839844 4.007813.839844h113.527344c10.839843 0 19.996093 8.839844 19.996093 19.992187 0 11.027344-8.96875 19.996094-19.996093 19.996094h-81.566407c-5.519531 0-9.996093 4.476563-9.996093 9.996094 0 5.523438 4.476562 9.996094 9.996093 9.996094h81.566407c22.050781 0 39.988281-17.9375 39.988281-39.988282 0-1.757812-.125-3.5-.351563-5.226562 57.066406-58.660156 65.113282-66.902344 65.457032-67.3125 7.125-8.410156 19.773437-9.476562 28.1875-2.382812 8.421874 7.121093 9.488281 19.761718 2.34375 28.21875l-89.667969 107.195312c-13.09375 12.570312-30.285157 19.488281-48.457031 19.488281h-132.902344c-13.023438 0-25.351563 4.980469-34.703125 14.015625l-8.496094 8.199219-78.320313-78.316406c18.304688-34.339844 52.652344-53.871094 95.375-53.871094zm-125.320312 66.34375c3.296875-3.296875 8.359375-3.890625 12.378906-1.40625 1.730469 1.054687-3.238281-3.46875 86.589844 86.234375 3.996094 3.996094 3.78125 10.363281.054688 14.089844l-41.320313 40.707031-98.230469-98.980469zm0 0" /><path d="m286.421875 49.988281v11.714844c-11.636719 4.125-19.996094 15.238281-19.996094 28.273437 0 16.535157 13.453125 29.992188 29.992188 29.992188 5.511719 0 9.996093 4.484375 9.996093 9.996094 0 5.511718-4.484374 9.996094-9.996093 9.996094-4.269531 0-8.882813-2.683594-12.980469-7.5625-3.554688-4.226563-9.859375-4.769532-14.085938-1.21875-4.226562 3.554687-4.773437 9.859374-1.21875 14.085937 5.34375 6.355469 11.628907 10.785156 18.289063 13.019531v11.667969c0 5.523437 4.476563 9.996094 9.996094 9.996094s9.996093-4.472657 9.996093-9.996094v-11.714844c11.636719-4.128906 19.996094-15.242187 19.996094-28.273437 0-16.539063-13.453125-29.992188-29.992187-29.992188-5.511719 0-9.996094-4.484375-9.996094-9.996094 0-5.511718 4.484375-10 9.996094-10 3.542969 0 7.28125 1.808594 10.8125 5.226563 3.96875 3.839844 10.296875 3.734375 14.136719-.230469 3.839843-3.96875 3.734374-10.296875-.230469-14.136718-5.074219-4.910157-10.152344-7.6875-14.722657-9.203126v-11.644531c0-5.523437-4.476562-10-9.996093-10s-9.996094 4.476563-9.996094 10zm0 0" /></svg>
                            <span id="span_finance" style="font-size: 16px">Finance</span>
                            <i class="fa fa-caret-down"></i>
                        </a><br />
                        <div class="dropdown-container" id="finance_submenu">
                            <a class="nav-link anchor-style-sub" href="~/Finance/Finance_Graph">
                                <svg class="svg-bottom-margin" height="20" viewBox="0 0 512 512" width="20" fill="#ffffff80" xmlns="http://www.w3.org/2000/svg"><path d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0" /><path d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0" /></svg>
                                <span style="font-size: 16px">Graph</span>
                            </a><br />
                            <a class="nav-link anchor-style-sub" href="~/Finance/Finance_Report">
                                <svg class="svg-bottom-margin" fill="#ffffff80" width="20" height="20" viewBox="0 0 24 24"><path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M7,20H9V14H7V20M11,20H13V12H11V20M15,20H17V16H15V20Z" fill-rule="evenOdd"></path><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <span style="font-size: 16px">Report</span>
                            </a><br />
                            <a class="nav-link anchor-style-sub" href="~/Finance/Finance_Management">
                                <svg class="svg-bottom-margin" fill="#ffffff80" width="20" height="20" viewBox="0 0 24 24"><path d="M12,7V3H2v18h20V7H12z M16,10c1.11,0,2,0.89,2,2c0,1.11-0.89,2-2,2s-2-0.89-2-2C14,10.89,14.89,10,16,10z M6,19H4v-2h2V19z   M6,15H4v-2h2V15z M6,11H4V9h2V11z M6,7H4V5h2V7z M10,19H8v-2h2V19z M10,15H8v-2h2V15z M10,11H8V9h2V11z M10,7H8V5h2V7z M20,19h-8  v-1.6c0-1.601,2.4-2.4,4-2.4s4,0.8,4,2.4V19z"></path><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <span style="font-size: 16px">Management</span>
                            </a><br />
                        </div>
                    }
                    <a class="nav-link anchor-style" href="~/Module/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_module" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><g><path d="M9,6.1v14.6c0,0.2,0,0.4-0.1,0.5s-0.2,0.2-0.4,0.2c-0.1,0-0.2,0-0.3-0.1l-4.7-2.9c-0.1-0.1-0.3-0.2-0.4-0.4S3,17.6,3,17.4 V3.2c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0,0.2,0.1,0.4,0.2L9,6.1C9,6,9,6.1,9,6.1z" /><polygon points="9.6,7.3 15,18.1 9.6,14.8 	" /><path d="M21,7.6v13.1c0,0.2,0,0.4-0.1,0.5c-0.1,0.1-0.2,0.2-0.4,0.2c-0.2,0-0.3-0.1-0.5-0.2l-4.4-2.7L21,7.6z" /><path d="M21,6.1c0,0-0.9,1.8-2.6,5.2c-1.7,3.5-2.7,5.5-3,6.1l-3.9-7.9l3.3-6.6c0.1-0.2,0.3-0.3,0.5-0.3c0.1,0,0.2,0,0.3,0.1L21,6.1 C21,6,21,6,21,6.1z" /></g></svg>
                        <span id="span_module" style="font-size: 16px">Modules</span>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Team/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_team" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M8.2,12c-1.1,0-2,0.5-2.8,1.3H4c-0.6,0-1.1-0.1-1.4-0.4S2,12.2,2,11.7C2,9.2,2.4,8,3.3,8c0,0,0.2,0.1,0.5,0.2s0.6,0.3,1,0.4 C5.2,8.8,5.6,8.9,6,8.9c0.5,0,0.9-0.1,1.4-0.2c0,0.3,0,0.5,0,0.7C7.3,10.3,7.6,11.2,8.2,12z M19.3,18.6c0,0.8-0.3,1.5-0.8,2 c-0.5,0.5-1.2,0.7-2,0.7H7.4c-0.8,0-1.5-0.2-2-0.7c-0.5-0.5-0.8-1.1-0.8-2c0-0.4,0-0.7,0-1.1c0-0.3,0.1-0.7,0.1-1.1 C4.9,16,5,15.6,5.1,15.3c0.1-0.3,0.3-0.7,0.4-1C5.7,14,6,13.7,6.2,13.4c0.3-0.2,0.6-0.4,0.9-0.6c0.3-0.1,0.7-0.2,1.2-0.2 c0.1,0,0.2,0.1,0.5,0.2c0.2,0.2,0.5,0.3,0.8,0.5c0.3,0.2,0.7,0.3,1.1,0.5c0.5,0.2,0.9,0.2,1.4,0.2c0.5,0,0.9-0.1,1.4-0.2 c0.5-0.2,0.8-0.3,1.1-0.5c0.3-0.2,0.5-0.3,0.8-0.5c0.2-0.2,0.4-0.2,0.4-0.2c0.4,0,0.8,0.1,1.2,0.2s0.6,0.3,0.9,0.6 c0.2,0.2,0.5,0.5,0.6,0.8c0.2,0.3,0.3,0.7,0.5,1c0.1,0.3,0.2,0.7,0.3,1.1c0.1,0.4,0.1,0.8,0.1,1.1C19.3,17.9,19.3,18.3,19.3,18.6z M8.7,5.3c0,0.7-0.3,1.4-0.8,1.9S6.7,8,6,8C5.3,8,4.6,7.7,4.1,7.2S3.3,6.1,3.3,5.3c0-0.7,0.3-1.4,0.8-1.9S5.3,2.6,6,2.7 s1.4,0.3,1.9,0.8S8.7,4.6,8.7,5.3z M16,9.3c0,1.1-0.4,2-1.2,2.8c-0.8,0.8-1.7,1.2-2.8,1.2s-2-0.4-2.8-1.2C8.4,11.4,8,10.4,8,9.3 c0-1.1,0.4-2.1,1.2-2.8C10,5.7,10.9,5.3,12,5.3s2.1,0.4,2.8,1.2C15.6,7.3,16,8.2,16,9.3z M22,11.7c0,0.5-0.2,1-0.6,1.2 c-0.4,0.3-0.9,0.4-1.4,0.4h-1.4c-0.7-0.9-1.6-1.3-2.8-1.3c0.6-0.8,0.8-1.7,0.8-2.7c0-0.2,0-0.4-0.1-0.7c0.5,0.2,0.9,0.2,1.4,0.2 c0.4,0,0.8-0.1,1.2-0.2c0.4-0.2,0.8-0.3,1-0.4S20.7,8,20.7,8C21.6,8,22,9.2,22,11.7z M20.7,5.3c0,0.7-0.3,1.4-0.8,1.9 C19.4,7.7,18.7,8,18,8c-0.7,0-1.4-0.3-1.9-0.8c-0.5-0.5-0.8-1.2-0.8-1.9c0-0.7,0.3-1.4,0.8-1.9c0.5-0.5,1.2-0.8,1.9-0.8 c0.7,0,1.4,0.3,1.9,0.8C20.4,3.9,20.7,4.6,20.7,5.3z" /></svg>
                        <span id="span_team" style="font-size: 16px">Teams</span>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Employee/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_employee" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M20,18.3c0,0.9-0.3,1.7-0.8,2.3c-0.5,0.6-1.1,1-1.9,1H6.7c-0.7,0-1.4-0.3-1.9-1C4.3,20,4,19.2,4,18.3c0-0.7,0-1.4,0.1-2 c0.1-0.6,0.2-1.3,0.4-1.9s0.4-1.2,0.7-1.6c0.3-0.4,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,1.1,2.4,1.6,3.9,1.6 s2.8-0.5,3.9-1.6c0.6,0,1.2,0.1,1.7,0.4c0.5,0.3,0.9,0.7,1.2,1.1c0.3,0.5,0.5,1,0.7,1.6c0.2,0.6,0.3,1.3,0.4,1.9 C20,16.9,20,17.6,20,18.3z M16.8,7.2c0,1.3-0.5,2.5-1.4,3.4C14.5,11.5,13.3,12,12,12s-2.5-0.5-3.4-1.4C7.7,9.6,7.2,8.5,7.2,7.2 s0.5-2.4,1.4-3.4c1-1,2.1-1.4,3.4-1.4c1.3,0,2.4,0.5,3.4,1.4S16.8,5.9,16.8,7.2z" /></svg>
                        <span id="span_employee" style="font-size: 16px">Employees</span>
                    </a><br />
                }
                        <div style="position: absolute; bottom: 0;">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                                {
                                    <a class="nav-link anchor-style" href="~/LogGrid/MeasurementLog">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve"><g><path d="M42.5,22h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,22,42.5,22z" /><path d="M17.5,16h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S16.948,16,17.5,16z" /><path d="M42.5,30h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,30,42.5,30z" /><path d="M42.5,38h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,38,42.5,38z" /><path d="M42.5,46h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,46,42.5,46z" /><path d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <span id="span_report" style="font-size: 16px">Measurement Log</span>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/Import/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M380.032,133.472l-112-128C264.992,2.016,260.608,0,256,0c-4.608,0-8.992,2.016-12.032,5.472l-112,128 c-4.128,4.736-5.152,11.424-2.528,17.152C132.032,156.32,137.728,160,144,160h64v208c0,8.832,7.168,16,16,16h64 c8.832,0,16-7.168,16-16V160h64c6.272,0,11.968-3.648,14.56-9.376C385.152,144.896,384.192,138.176,380.032,133.472z" /></g></g><g><g><path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <span id="span_report" style="font-size: 16px">Import</span>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/LineChartPanel/index">
                                        <svg viewBox="0 0 512 512" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" xmlns="http://www.w3.org/2000/svg"><path d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0" /><path d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0" /></svg>
                                        <span style="font-size: 16px">Chart Panel</span>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/Profile/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve"><g><path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z" /><path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" /><path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" /><path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761 s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131 c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496 c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <span id="span_profile" style="font-size: 16px">Profile</span>
                                    </a><br />
                                    <a class="nav-link anchor-style" asp-area="Identity" asp-page="/Account/Register">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"><g><g><path d="M269.272,310.198c86.177-0.005,117.184-86.291,125.301-157.169C404.572,65.715,363.282,0,269.272,0 C175.274,0,133.963,65.71,143.97,153.029C152.095,223.907,183.093,310.204,269.272,310.198z" /><path d="M457.707,346.115c2.773,0,5.528,0.083,8.264,0.235c-4.101-5.85-8.848-11.01-14.403-15.158 c-16.559-12.359-38.005-16.414-56.964-23.864c-9.229-3.625-17.493-7.226-25.251-11.326 c-26.184,28.715-60.329,43.736-100.091,43.74c-39.749,0-73.891-15.021-100.072-43.74c-7.758,4.101-16.024,7.701-25.251,11.326 c-18.959,7.451-40.404,11.505-56.964,23.864c-28.638,21.375-36.039,69.46-41.854,102.26c-4.799,27.076-8.023,54.707-8.964,82.209  c-0.729,21.303,9.789,24.29,27.611,30.721c22.315,8.048,45.356,14.023,68.552,18.921c44.797,9.46,90.973,16.729,136.95,17.054 c22.278-0.159,44.601-1.956,66.792-4.833c-16.431-23.807-26.068-52.645-26.068-83.695 C309.995,412.378,376.258,346.115,457.707,346.115z" /><path d="M457.707,375.658c-65.262,0-118.171,52.909-118.171,118.171S392.444,612,457.707,612s118.172-52.909,118.172-118.171 C575.878,428.566,522.969,375.658,457.707,375.658z M509.407,514.103h-31.425v31.424c0,11.198-9.077,20.276-20.274,20.276 c-11.198,0-20.276-9.078-20.276-20.276v-31.424h-31.424c-11.198,0-20.276-9.077-20.276-20.276 c0-11.198,9.077-20.276,20.276-20.276h31.424v-31.424c0-11.198,9.078-20.276,20.276-20.276c11.198,0,20.274,9.078,20.274,20.276 v31.424h31.425c11.198,0,20.276,9.078,20.276,20.276C529.682,505.027,520.606,514.103,509.407,514.103z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <span class="btn-span">New User</span>
                                    </a><br />
                                }
                                else
                                {
                                    <a class="nav-link anchor-style" href="~/Profile/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve"><g><path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z" /><path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" /><path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" /><path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761 s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131 c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496 c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        <span id="span_profile" style="font-size: 16px">Profile</span>
                                    </a><br />
                                }
                                <div style="margin-left: 4px;">
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                        <button type="submit" class="btn btn-link">
                                            <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><g><path d="M510.371,226.513c-1.088-2.603-2.645-4.971-4.629-6.955l-63.979-63.979c-8.341-8.32-21.824-8.32-30.165,0 c-8.341,8.341-8.341,21.845,0,30.165l27.584,27.584H320.013c-11.797,0-21.333,9.557-21.333,21.333s9.536,21.333,21.333,21.333 h119.168l-27.584,27.584c-8.341,8.341-8.341,21.845,0,30.165c4.16,4.181,9.621,6.251,15.083,6.251s10.923-2.069,15.083-6.251 l63.979-63.979c1.984-1.963,3.541-4.331,4.629-6.955C512.525,237.606,512.525,231.718,510.371,226.513z" /><path d="M362.68,298.667c-11.797,0-21.333,9.557-21.333,21.333v106.667h-85.333V85.333c0-9.408-6.187-17.728-15.211-20.437 l-74.091-22.229h174.635v106.667c0,11.776,9.536,21.333,21.333,21.333s21.333-9.557,21.333-21.333v-128 C384.013,9.557,374.477,0,362.68,0H21.347c-0.768,0-1.451,0.32-2.197,0.405c-1.003,0.107-1.92,0.277-2.88,0.512 c-2.24,0.576-4.267,1.451-6.165,2.645c-0.469,0.299-1.045,0.32-1.493,0.661C8.44,4.352,8.376,4.587,8.205,4.715 C5.88,6.549,3.939,8.789,2.531,11.456c-0.299,0.576-0.363,1.195-0.597,1.792c-0.683,1.621-1.429,3.2-1.685,4.992 c-0.107,0.64,0.085,1.237,0.064,1.856c-0.021,0.427-0.299,0.811-0.299,1.237V448c0,10.176,7.189,18.923,17.152,20.907 l213.333,42.667c1.387,0.299,2.795,0.427,4.181,0.427c4.885,0,9.685-1.685,13.525-4.843c4.928-4.053,7.808-10.091,7.808-16.491 v-21.333H362.68c11.797,0,21.333-9.557,21.333-21.333V320C384.013,308.224,374.477,298.667,362.68,298.667z" /></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                            <span class="btn-span">Logout</span>
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
            </div>
            <div id="sidenav_mini" class="sidebar navbar-nav row sidebar-transition side-width-mini" style="z-index: 1;" onmouseover="openNav()" @*onmouseleave="closeNav()"*@>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    
                    @*<div class="nav-link" style="margin-left: 32px; margin-top: 16px;">
                        <span id="span_ethix_mini" style="font-size: 21px; font-weight: bold; color: white;"></span>
                        <a href="#" onclick="pinSidebar()"><svg class="fa fa-caret-down sidebar-transition" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#ffffff80"><path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" /></svg></a>
                    </div><br />*@
                    <a class="nav-link anchor-style" href="~/Home/Index" style="margin-top: 64px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z" /></svg>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Grid/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M3,5h7V3h2v18h-2v-3H6v-3h4v-2H5v-3h5V8H3V6 M14,5h3v3h-3V5 M14,10h5v3h-5V10 M14,15h7v3h-7V15z" /></svg>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M11.2,11.2c-0.4,0.5-0.4,1.2,0,1.6c0.5,0.5,1.2,0.5,1.6,0c0.4-0.5,0.4-1.2,0-1.6C12.4,10.7,11.6,10.7,11.2,11.2z M12,3 c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3z M16.6,8.4l-2.4,5.2c-0.1,0.3-0.3,0.5-0.6,0.6l-5.2,2.4c-0.6,0.3-1.2-0.3-1-1l2.4-5.2 c0.1-0.3,0.3-0.5,0.6-0.6l5.2-2.4C16.2,7.1,16.9,7.8,16.6,8.4z" /></svg>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/MeasurementGrid/Editing_Inline_Details">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M10.9,12.6l6,6c-0.8,0.8-1.7,1.4-2.7,1.8s-2.1,0.7-3.3,0.7c-1.5,0-2.9-0.4-4.2-1.1s-2.3-1.8-3.1-3.1s-1.1-2.7-1.1-4.2 s0.4-2.9,1.1-4.2s1.8-2.3,3.1-3.1s2.7-1.1,4.2-1.1V12.6z M13,12.7h8.5c0,1.1-0.2,2.2-0.7,3.3c-0.4,1-1.1,1.9-1.8,2.7L13,12.7z M20.8,11.3h-8.4V2.8c1.5,0,2.9,0.4,4.2,1.1s2.3,1.8,3.1,3.1C20.4,8.3,20.8,9.8,20.8,11.3z" /></svg>
                    </a><br />
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                    {
                        <a class="nav-link anchor-style" onclick="financeSubMenu()" href="#">
                            <svg class="svg-bottom-margin" viewBox="0 0 511 511.99978" xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="#ffffff80"><path d="m235.792969 347.265625c3.902343-3.910156 3.902343-10.238281 0-14.148437-3.90625-3.898438-10.234375-3.898438-14.144531 0-3.898438 3.910156-3.898438 10.238281 0 14.148437 3.910156 3.898437 10.238281 3.898437 14.144531 0zm0 0" /><path d="m188.449219 109.96875c0 60.636719 49.332031 109.972656 109.96875 109.972656s109.96875-49.335937 109.96875-109.972656-49.332031-109.96875-109.96875-109.96875-109.96875 49.332031-109.96875 109.96875zm199.945312 0c0 49.613281-40.363281 89.976562-89.976562 89.976562s-89.976563-40.363281-89.976563-89.976562c0-49.609375 40.363282-89.972656 89.976563-89.972656s89.976562 40.363281 89.976562 89.972656zm0 0" /><path d="m115.652344 509.042969c3.875 3.90625 10.183594 3.949219 14.109375.082031l48.46875-47.75c8.234375-8.234375 10.738281-20.425781 7.117187-31.023438l10.425782-10.054687c5.613281-5.421875 13.003906-8.410156 20.816406-8.410156h132.902344c23.578124 0 45.863281-9.054688 62.757812-25.496094.695312-.675781-5.277344 6.359375 90.667969-108.3125 14.230469-16.835937 12.101562-42.117187-4.75-56.363281-16.746094-14.113282-41.832031-12.085938-56.101563 4.460937l-58.992187 60.632813c-7.449219-9.167969-18.808594-14.882813-31.082031-14.882813h-111.480469c-15.863281-6.636719-32.695313-9.996093-50.0625-9.996093-48.140625 0-90.175781 22.234374-112.734375 63.921874-9.503906-1.800781-19.527344 1.074219-26.738282 8.285157l-47.558593 47.699219c-3.882813 3.894531-3.890625 10.195312-.015625 14.101562zm74.792968-227.121094c15.3125 0 30.117188 3.082031 44.011719 9.160156 1.265625.554688 2.628907.839844 4.007813.839844h113.527344c10.839843 0 19.996093 8.839844 19.996093 19.992187 0 11.027344-8.96875 19.996094-19.996093 19.996094h-81.566407c-5.519531 0-9.996093 4.476563-9.996093 9.996094 0 5.523438 4.476562 9.996094 9.996093 9.996094h81.566407c22.050781 0 39.988281-17.9375 39.988281-39.988282 0-1.757812-.125-3.5-.351563-5.226562 57.066406-58.660156 65.113282-66.902344 65.457032-67.3125 7.125-8.410156 19.773437-9.476562 28.1875-2.382812 8.421874 7.121093 9.488281 19.761718 2.34375 28.21875l-89.667969 107.195312c-13.09375 12.570312-30.285157 19.488281-48.457031 19.488281h-132.902344c-13.023438 0-25.351563 4.980469-34.703125 14.015625l-8.496094 8.199219-78.320313-78.316406c18.304688-34.339844 52.652344-53.871094 95.375-53.871094zm-125.320312 66.34375c3.296875-3.296875 8.359375-3.890625 12.378906-1.40625 1.730469 1.054687-3.238281-3.46875 86.589844 86.234375 3.996094 3.996094 3.78125 10.363281.054688 14.089844l-41.320313 40.707031-98.230469-98.980469zm0 0" /><path d="m286.421875 49.988281v11.714844c-11.636719 4.125-19.996094 15.238281-19.996094 28.273437 0 16.535157 13.453125 29.992188 29.992188 29.992188 5.511719 0 9.996093 4.484375 9.996093 9.996094 0 5.511718-4.484374 9.996094-9.996093 9.996094-4.269531 0-8.882813-2.683594-12.980469-7.5625-3.554688-4.226563-9.859375-4.769532-14.085938-1.21875-4.226562 3.554687-4.773437 9.859374-1.21875 14.085937 5.34375 6.355469 11.628907 10.785156 18.289063 13.019531v11.667969c0 5.523437 4.476563 9.996094 9.996094 9.996094s9.996093-4.472657 9.996093-9.996094v-11.714844c11.636719-4.128906 19.996094-15.242187 19.996094-28.273437 0-16.539063-13.453125-29.992188-29.992187-29.992188-5.511719 0-9.996094-4.484375-9.996094-9.996094 0-5.511718 4.484375-10 9.996094-10 3.542969 0 7.28125 1.808594 10.8125 5.226563 3.96875 3.839844 10.296875 3.734375 14.136719-.230469 3.839843-3.96875 3.734374-10.296875-.230469-14.136718-5.074219-4.910157-10.152344-7.6875-14.722657-9.203126v-11.644531c0-5.523437-4.476562-10-9.996093-10s-9.996094 4.476563-9.996094 10zm0 0" /></svg>
                        </a><br />
                    }
                    <a class="nav-link anchor-style" href="~/Module/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><g><path d="M9,6.1v14.6c0,0.2,0,0.4-0.1,0.5s-0.2,0.2-0.4,0.2c-0.1,0-0.2,0-0.3-0.1l-4.7-2.9c-0.1-0.1-0.3-0.2-0.4-0.4S3,17.6,3,17.4 V3.2c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.2-0.2,0.3-0.2c0.1,0,0.2,0.1,0.4,0.2L9,6.1C9,6,9,6.1,9,6.1z" /><polygon points="9.6,7.3 15,18.1 9.6,14.8 	" /><path d="M21,7.6v13.1c0,0.2,0,0.4-0.1,0.5c-0.1,0.1-0.2,0.2-0.4,0.2c-0.2,0-0.3-0.1-0.5-0.2l-4.4-2.7L21,7.6z" /><path d="M21,6.1c0,0-0.9,1.8-2.6,5.2c-1.7,3.5-2.7,5.5-3,6.1l-3.9-7.9l3.3-6.6c0.1-0.2,0.3-0.3,0.5-0.3c0.1,0,0.2,0,0.3,0.1L21,6.1 C21,6,21,6,21,6.1z" /></g></svg>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Team/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M8.2,12c-1.1,0-2,0.5-2.8,1.3H4c-0.6,0-1.1-0.1-1.4-0.4S2,12.2,2,11.7C2,9.2,2.4,8,3.3,8c0,0,0.2,0.1,0.5,0.2s0.6,0.3,1,0.4 C5.2,8.8,5.6,8.9,6,8.9c0.5,0,0.9-0.1,1.4-0.2c0,0.3,0,0.5,0,0.7C7.3,10.3,7.6,11.2,8.2,12z M19.3,18.6c0,0.8-0.3,1.5-0.8,2 c-0.5,0.5-1.2,0.7-2,0.7H7.4c-0.8,0-1.5-0.2-2-0.7c-0.5-0.5-0.8-1.1-0.8-2c0-0.4,0-0.7,0-1.1c0-0.3,0.1-0.7,0.1-1.1 C4.9,16,5,15.6,5.1,15.3c0.1-0.3,0.3-0.7,0.4-1C5.7,14,6,13.7,6.2,13.4c0.3-0.2,0.6-0.4,0.9-0.6c0.3-0.1,0.7-0.2,1.2-0.2 c0.1,0,0.2,0.1,0.5,0.2c0.2,0.2,0.5,0.3,0.8,0.5c0.3,0.2,0.7,0.3,1.1,0.5c0.5,0.2,0.9,0.2,1.4,0.2c0.5,0,0.9-0.1,1.4-0.2 c0.5-0.2,0.8-0.3,1.1-0.5c0.3-0.2,0.5-0.3,0.8-0.5c0.2-0.2,0.4-0.2,0.4-0.2c0.4,0,0.8,0.1,1.2,0.2s0.6,0.3,0.9,0.6 c0.2,0.2,0.5,0.5,0.6,0.8c0.2,0.3,0.3,0.7,0.5,1c0.1,0.3,0.2,0.7,0.3,1.1c0.1,0.4,0.1,0.8,0.1,1.1C19.3,17.9,19.3,18.3,19.3,18.6z M8.7,5.3c0,0.7-0.3,1.4-0.8,1.9S6.7,8,6,8C5.3,8,4.6,7.7,4.1,7.2S3.3,6.1,3.3,5.3c0-0.7,0.3-1.4,0.8-1.9S5.3,2.6,6,2.7 s1.4,0.3,1.9,0.8S8.7,4.6,8.7,5.3z M16,9.3c0,1.1-0.4,2-1.2,2.8c-0.8,0.8-1.7,1.2-2.8,1.2s-2-0.4-2.8-1.2C8.4,11.4,8,10.4,8,9.3 c0-1.1,0.4-2.1,1.2-2.8C10,5.7,10.9,5.3,12,5.3s2.1,0.4,2.8,1.2C15.6,7.3,16,8.2,16,9.3z M22,11.7c0,0.5-0.2,1-0.6,1.2 c-0.4,0.3-0.9,0.4-1.4,0.4h-1.4c-0.7-0.9-1.6-1.3-2.8-1.3c0.6-0.8,0.8-1.7,0.8-2.7c0-0.2,0-0.4-0.1-0.7c0.5,0.2,0.9,0.2,1.4,0.2 c0.4,0,0.8-0.1,1.2-0.2c0.4-0.2,0.8-0.3,1-0.4S20.7,8,20.7,8C21.6,8,22,9.2,22,11.7z M20.7,5.3c0,0.7-0.3,1.4-0.8,1.9 C19.4,7.7,18.7,8,18,8c-0.7,0-1.4-0.3-1.9-0.8c-0.5-0.5-0.8-1.2-0.8-1.9c0-0.7,0.3-1.4,0.8-1.9c0.5-0.5,1.2-0.8,1.9-0.8 c0.7,0,1.4,0.3,1.9,0.8C20.4,3.9,20.7,4.6,20.7,5.3z" /></svg>
                    </a><br />
                    <a class="nav-link anchor-style" href="~/Employee/Editing_Inline">
                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M20,18.3c0,0.9-0.3,1.7-0.8,2.3c-0.5,0.6-1.1,1-1.9,1H6.7c-0.7,0-1.4-0.3-1.9-1C4.3,20,4,19.2,4,18.3c0-0.7,0-1.4,0.1-2 c0.1-0.6,0.2-1.3,0.4-1.9s0.4-1.2,0.7-1.6c0.3-0.4,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,1.1,2.4,1.6,3.9,1.6 s2.8-0.5,3.9-1.6c0.6,0,1.2,0.1,1.7,0.4c0.5,0.3,0.9,0.7,1.2,1.1c0.3,0.5,0.5,1,0.7,1.6c0.2,0.6,0.3,1.3,0.4,1.9 C20,16.9,20,17.6,20,18.3z M16.8,7.2c0,1.3-0.5,2.5-1.4,3.4C14.5,11.5,13.3,12,12,12s-2.5-0.5-3.4-1.4C7.7,9.6,7.2,8.5,7.2,7.2 s0.5-2.4,1.4-3.4c1-1,2.1-1.4,3.4-1.4c1.3,0,2.4,0.5,3.4,1.4S16.8,5.9,16.8,7.2z" /></svg>
                    </a><br />
                }
                        <div style="position: absolute; bottom: 0;">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Program Manager"))
                                {
                                    <a class="nav-link anchor-style" href="~/LogGrid/MeasurementLog">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve"><g><path d="M42.5,22h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,22,42.5,22z" /><path d="M17.5,16h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S16.948,16,17.5,16z" /><path d="M42.5,30h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,30,42.5,30z" /><path d="M42.5,38h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,38,42.5,38z" /><path d="M42.5,46h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,46,42.5,46z" /><path d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/Import/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M380.032,133.472l-112-128C264.992,2.016,260.608,0,256,0c-4.608,0-8.992,2.016-12.032,5.472l-112,128 c-4.128,4.736-5.152,11.424-2.528,17.152C132.032,156.32,137.728,160,144,160h64v208c0,8.832,7.168,16,16,16h64 c8.832,0,16-7.168,16-16V160h64c6.272,0,11.968-3.648,14.56-9.376C385.152,144.896,384.192,138.176,380.032,133.472z" /></g></g><g><g><path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/LineChartPanel/index">
                                        <svg viewBox="0 0 512 512" class="svg-bottom-margin" width="20" height="20" fill="#ffffff80" xmlns="http://www.w3.org/2000/svg"><path d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0" /><path d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0" /></svg>
                                    </a><br />
                                    <a class="nav-link anchor-style" href="~/Profile/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve"><g><path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z" /><path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" /><path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" /><path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761 s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131 c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496 c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a><br />
                                    <a class="nav-link anchor-style" asp-area="Identity" asp-page="/Account/Register">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"><g><g><path d="M269.272,310.198c86.177-0.005,117.184-86.291,125.301-157.169C404.572,65.715,363.282,0,269.272,0 C175.274,0,133.963,65.71,143.97,153.029C152.095,223.907,183.093,310.204,269.272,310.198z" /><path d="M457.707,346.115c2.773,0,5.528,0.083,8.264,0.235c-4.101-5.85-8.848-11.01-14.403-15.158 c-16.559-12.359-38.005-16.414-56.964-23.864c-9.229-3.625-17.493-7.226-25.251-11.326 c-26.184,28.715-60.329,43.736-100.091,43.74c-39.749,0-73.891-15.021-100.072-43.74c-7.758,4.101-16.024,7.701-25.251,11.326 c-18.959,7.451-40.404,11.505-56.964,23.864c-28.638,21.375-36.039,69.46-41.854,102.26c-4.799,27.076-8.023,54.707-8.964,82.209  c-0.729,21.303,9.789,24.29,27.611,30.721c22.315,8.048,45.356,14.023,68.552,18.921c44.797,9.46,90.973,16.729,136.95,17.054 c22.278-0.159,44.601-1.956,66.792-4.833c-16.431-23.807-26.068-52.645-26.068-83.695 C309.995,412.378,376.258,346.115,457.707,346.115z" /><path d="M457.707,375.658c-65.262,0-118.171,52.909-118.171,118.171S392.444,612,457.707,612s118.172-52.909,118.172-118.171 C575.878,428.566,522.969,375.658,457.707,375.658z M509.407,514.103h-31.425v31.424c0,11.198-9.077,20.276-20.274,20.276 c-11.198,0-20.276-9.078-20.276-20.276v-31.424h-31.424c-11.198,0-20.276-9.077-20.276-20.276 c0-11.198,9.077-20.276,20.276-20.276h31.424v-31.424c0-11.198,9.078-20.276,20.276-20.276c11.198,0,20.274,9.078,20.274,20.276 v31.424h31.425c11.198,0,20.276,9.078,20.276,20.276C529.682,505.027,520.606,514.103,509.407,514.103z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a><br />
                                }
                                else
                                {
                                    <a class="nav-link anchor-style" href="~/Profile/Index">
                                        <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve"><g><path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z" /><path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" /><path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" /><path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761 s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131 c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496 c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a><br />
                                }
                                <div style="margin-left: 4px;">
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm_mini">
                                        <button type="submit" class="btn btn-link">
                                            <svg version="1.1" class="svg-bottom-margin" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#ffffff80" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><g><path d="M510.371,226.513c-1.088-2.603-2.645-4.971-4.629-6.955l-63.979-63.979c-8.341-8.32-21.824-8.32-30.165,0 c-8.341,8.341-8.341,21.845,0,30.165l27.584,27.584H320.013c-11.797,0-21.333,9.557-21.333,21.333s9.536,21.333,21.333,21.333 h119.168l-27.584,27.584c-8.341,8.341-8.341,21.845,0,30.165c4.16,4.181,9.621,6.251,15.083,6.251s10.923-2.069,15.083-6.251 l63.979-63.979c1.984-1.963,3.541-4.331,4.629-6.955C512.525,237.606,512.525,231.718,510.371,226.513z" /><path d="M362.68,298.667c-11.797,0-21.333,9.557-21.333,21.333v106.667h-85.333V85.333c0-9.408-6.187-17.728-15.211-20.437 l-74.091-22.229h174.635v106.667c0,11.776,9.536,21.333,21.333,21.333s21.333-9.557,21.333-21.333v-128 C384.013,9.557,374.477,0,362.68,0H21.347c-0.768,0-1.451,0.32-2.197,0.405c-1.003,0.107-1.92,0.277-2.88,0.512 c-2.24,0.576-4.267,1.451-6.165,2.645c-0.469,0.299-1.045,0.32-1.493,0.661C8.44,4.352,8.376,4.587,8.205,4.715 C5.88,6.549,3.939,8.789,2.531,11.456c-0.299,0.576-0.363,1.195-0.597,1.792c-0.683,1.621-1.429,3.2-1.685,4.992 c-0.107,0.64,0.085,1.237,0.064,1.856c-0.021,0.427-0.299,0.811-0.299,1.237V448c0,10.176,7.189,18.923,17.152,20.907 l213.333,42.667c1.387,0.299,2.795,0.427,4.181,0.427c4.885,0,9.685-1.685,13.525-4.843c4.928-4.053,7.808-10.091,7.808-16.491 v-21.333H362.68c11.797,0,21.333-9.557,21.333-21.333V320C384.013,308.224,374.477,298.667,362.68,298.667z" /></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
            </div>
        </div>
            }
        <div id="content-wrapper" style="margin-left: 0">
            <div id="body-id" class="bodyMargin">@RenderBody()</div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    var isLocked = false;



    function openNav() {
    document.getElementById("sidenav").style.display = "";
    document.getElementById("sidenav_mini").style.display = "none";
    @*document.getElementById("sidenav_mini").classList.remove('side-width-mini');
        document.getElementById("sidenav_mini").classList.add('side-width');

        setTimeout(function() {
        document.getElementById("span_ethix_mini").innerHTML = "ETHIX-NG";
        }, 100);*@



    document.getElementsByClassName("k-spreadsheet-fixed-container")[0].style.zIndex = "0";
    }


    function closeNav() {
    document.getElementById("sidenav").style.display = "none";
    document.getElementById("sidenav_mini").style.display = "";

    @*document.getElementById("sidenav_mini").classList.remove('side-width');
        document.getElementById("sidenav_mini").classList.add('side-width-mini');


        document.getElementById("span_ethix_mini").innerHTML = "";
        setTimeout(function() {
        document.getElementById("span_ethix_mini").innerHTML = "";

        }, 200);*@

    document.getElementsByClassName("k-spreadsheet-fixed-container")[0].style.zIndex = "1";
    }


    function financeSubMenu() {
    var dropdown = document.getElementById("finance_submenu");

    if (dropdown.style.display === "block") {
    dropdown.style.display = "none";
    } else {
    dropdown.style.display = "block";
    }
    }


    function pinSidebar(){
    if (isLocked){
    isLocked = false;
    }
    else
    {
    isLocked = true;
    }

    }
</script>


@if (SignInManager.IsSignedIn(User))
{
<style>
    .side-width {
    width: 230px !important;
    }
    .side-width-mini {
    width: 48px !important;
    }
    .bodyMargin {
    /*margin-left: 200px;*/
    margin-left: 36px;
    margin-right: 5px;
    }
    .svg-bottom-margin {
    margin-bottom: 3px;
    margin-left: 3px;
    }
    .btn-span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    }
    .anchor-style {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    /*margin: 6px!important;*/
    margin-left: 16px!important;
    }
    .anchor-style-sub {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    /*margin: 6px!important;*/
    margin-left: 28px !important;
    }
    .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    }
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
    float: right;
    padding-right: 8px;
    margin-right: 8px;
    margin-top: 2px;
    }
    .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }
    .sidebar-transition {
    @*transition: width 0.2s;*@
    }

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    }
</style>
}