<form class="k-form">
    <fieldset>
        <label class="k-form-field">
            <span>Month: </span>
            <input class="k-textbox" value=@DateTime.Today.Month />
        </label>
        <label class="k-form-field">
            <span>Year: </span>
            <input class="k-textbox" value=@DateTime.Today.Year />
        </label>
    </fieldset>
    <div class="text-right">
        <button type="button" class="k-button">Cancel</button>
        <button type="button" class="k-button k-primary">Submit</button>
    </div>
</form>